<div class="container center class="flow-text"">

  <h2>Edit Profile</h2>

    <%= form_for @profile, url: { action: :update } do |f| %>
      <p>Background</p>
      <%= f.text_area :background %>
      <p>Profile Image</p>
      <%= f.submit "Update" %>
    <% end %>

  </div>
</div>