<div class="container center">

  <h2>Edit Profile</h2>

    <%= form_for @profile, url: { action: :update } do |f| %>
      <h6>Background</h6>
      <%= f.text_area :background %>

      <h6>Profile Image</h6>
      <br>

      <%= f.file_field :image %>

      <br>
      <br>

      <%= f.submit "Update" %>
    <% end %>

  </div>
</div>