<div class="container center class="flow-text"">

  <h2>Create New Profile</h2>

    <%= form_for @profile, url: {action: "create"} do |f| %>
      <p>Background</p>
      <%= f.text_area :background %>
      <p>Profile Image</p>

      <%= f.file_field :image %>

      <%= f.submit "Create" %>
    <% end %>

  </div>
</div>