
  <div class="section center">
    <h1>Current Lineup</h1>

    <!-- Switch -->
  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Season Scorecard</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>

            <table>
        <thead>
          <tr>
              <th>Name</th>
              <th>Item Name</th>
              <th>Item Price</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
          </tr>
          <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
          </tr>
        </tbody>
      </table>
            

    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

    </div>

<div class="container center">

  

  <div class="row">

    <% if !@players.nil? %>
  
      <% @players.each do |player| %>
  
        <div class="col">
          
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="https://fakeimg.pl/250x100/"">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">  <p><%= player %></p><i class="material-icons right">more_vert</i></span>
              <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>  
        </div>  

      <% end %>

    <% end %>

    </div>

</div>
