
<div class="section center">
    <h1>Current Lineup</h1>
</div>

<div class="container center">


<div class="row">

  <% unless @active_players.nil? %>
        
      <% @active_players.each do |player| %>
  
        <div class="col s12 m4">
  
          
          <div class="card">
            <br>
              <div class="chip">
                <p><%= player.profile[:current_position].upcase %></p>
              </div>
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="<%= player.profile.image %>">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">
                <p><%= player %></p>
                <br>
                <i class="medium material-icons center">expand_more</i>
              </span>
              <br>

            </div>
            <div class="card-reveal">

              <span class="card-title grey-text text-darken-4">
                <i class="material-icons center">close</i>
              </span>
              <br>
              <p><%= player.profile.background %></p>
              
            </div>
          
          </div>  
        
        </div>  
     
     <% end %>
  
  <% end %>
      
</div>
