
  <div class="section white">
    <div class="row container center">
      <h2 class="header center">Bears Football Club</h2>
      <p class="flow-text">We are the Bears, founded in 2005</p>

      <% unless user_signed_in? %>
        <%= link_to new_user_registration_path, class: "waves-effect waves-light btn-large yellow z-depth-5" do %>
          <%= fa_icon "paw x4", text: 'Join Team' %>
        <% end %>
      <% end %> 
      
      <br>
      <br>

        <ul class="collapsible">
      <li>
        <div class="collapsible-header">
          <i class="material-icons">whatshot</i>Season Scorecard</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">place</i>Next Game Info</div>

        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span>

          <div class="mapouter"><div class="gmap_canvas"><iframe width="500" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=university%20of%20san%20francisco&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div><style>.mapouter{text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style>Google Maps by <a href="https://www.embedgooglemap.net" rel="nofollow" target="_blank">Embedgooglemap.net</a></div>

        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Weather Forcast</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>

        <li>
          <div class="collapsible-header"><i class="material-icons">notifications</i>Team News</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">assistant_photo</i>About Us</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span>
        </div>
      </li>
    </ul>

    </div>
  </div>