<% unless user_signed_in? %>
  <div class="parallax-container">
    <div class="parallax"><img src="https://storage.googleapis.com/main_project_images_and_patterns/main_page_huddle.jpg" class="responsive-img"></div>
  </div>
<% end %>

<%= render 'main_info_collapsible' %>

<% unless user_signed_in? %>
  <div class="parallax-container">
    <div class="parallax"><img src="https://storage.googleapis.com/main_project_images_and_patterns/helmet_and_ball.jpg" class="responsive-img"></div>
<% end %>