<div class="parallax-container">
  <div class="parallax"><img src="https://fakeimg.pl/250x100/ff0000/"></div>
</div>
<div class="section white">
  <div class="row container center">
    <h2 class="header center">Bears Football Club</h2>
    <p class="flow-text">We are the Bears, founded in 2005</p>
    <a class="waves-effect waves-light btn-large"><i class="material-icons left">tag_faces</i>Join Team</a>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="https://fakeimg.pl/250x100/ff0000/"></div>
</div>