<div class="container center">
  <h1 class="flow-text">Upcoming Huddles</h1>
  
        <table class="striped centered">
        <thead class="flow-text">
          <tr>
            <th>Huddle</th>
            <th>Method</th>
            <th>DateTime</th>
            <th>Join us</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="flow-text">SuperBowl</td>
            <td><i class="material-icons tooltipped" data-position="left" data-tooltip="Online Live Stream!">live_tv</i></td>
            <td>  <div class="chip">21st Jan 2019 @ 11:00 AEST<i class="close material-icons"></i></div></td>
            <td> 
              <div class="switch">
                <label>
                  Can
                  <input type="checkbox">
                  <span class="lever"></span>
                  Can't
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td class="flow-text">Game Debrief</td>
            <td><i class="material-icons tooltipped" data-position="left" data-tooltip="Online Live Stream!">live_tv</i></td>
            <td>  <div class="chip">21st Jan 2019 @ 11:00 AEST<i class="close material-icons"></i></div></td>
            <td>  
              <div class="switch">
                <label>
                  Can
                  <input type="checkbox">
                  <span class="lever"></span>
                  Can't
                </label>
              </div>
            </td>
          </tr>
            <td class="flow-text">Team Meeting</td>
            <td><i class="material-icons tooltipped" data-position="left" data-tooltip="Online Live Stream!">live_tv</i></td>
            <td>  <div class="chip">21st Jan 2019 @ 11:00 AEST<i class="close material-icons"></i></div></td>
            <td>  
              <div class="switch">
                <label>
                  Can
                  <input type="checkbox">
                  <span class="lever"></span>
                  Can't
                </label>
              </div>
            </td>
        </tbody>
      </table>
      <br>
      <br>
      <a class="waves-effect waves-light btn-large"><i class="material-icons left">cloud</i>Update My Huddle Registrations</a>
</div>
